<div class="signature_panel">
  <div class="signature" style="height: {{ height }}px">
    <label class="form-item__label">{{ label }}</label>
    {% if(sign_src != '') %}
      <img class="background img-fluid" src="{{ sign_src }}" width="{{ width }}" height="{{ height }}"/>
    {% endif %}
    <canvas{{ attributes }}></canvas>
  </div>
  <div class="clearfix toolbox">
    <div class="btn-group btn-group-sm" role="group">
      {% if(settings['signTool']) %}
        <input data-id="{{ attributes.offsetGet('id')|render }}" type="range" min="0" max="10" data-type="dotSize" step="1" class="form-control form-range"/>
        <input data-id="{{ attributes.offsetGet('id')|render }}" type="color" data-type="penColor" class="form-control form-control-color"/>
      {% endif %}
      {% if(settings['show_remove_btn']) %}
        <button data-id="{{ attributes.offsetGet('id')|render }}" type="button" class="clear btn btn-outline-secondary" title="{{ "Clear"|t }}">❌</button>
      {% endif %}
      {% if(settings['is_formatter']) %}
        <button data-id="{{ attributes.offsetGet('id')|render }}" type="button" class="save btn btn-outline-primary" title="{{ "Save"|t }}">✔</button>
      {% endif %}
    </div>
  </div>
</div>
